<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
			<div class="container">

            <h1><a href="/">Django Girls Blog</a></h1>
        
        <ul class="list-unstyled"> 

        	{% for post in posts %}
        	<li>
        		<div>
        	<h3>{{ post.title }}</h3>
        	<p>{{ post.text }}</p>
        	<p>{{ post.created_date }}</p>
        		</div>

        	</li>
        	{% endfor %}
        </ul>
    </div>
</body>
</html>